
 <a  asp-controller="Home"  asp-action="orders"><button>Orders</button></a>
 <a  asp-controller="Home"  asp-action="Index"><button>Dashboard</button></a>
 <a  asp-controller="Home"  asp-action="products"><button>Products</button></a>
<a  asp-controller="Home"  asp-action="logout"><button>Logout</button></a>
<a  asp-controller="Home"  asp-action="customers"><button>Customers</button></a>

<form asp-controller="Home" asp-action="AddOrder" method="post">
            <div class="form-group">
                <label>Customer </label>
                <select name="CustomerId">
                    @foreach(var user in @ViewBag.Customerinfos){
                        <option name="CustomerId" value=@user.CustomerId>@user.CustomerName</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label>Order</label>
                <input type="number" name="Quantity">
                
            </div>
            <div class="form-group">
                <select name="ProductId">
                    @foreach(var product in @ViewBag.ProductInfos){
                        <option name="ProductId" value=@product.ProductId>@product.ProductName</option>
                    }
                </select>
            </div>
            <input type="submit" value="Order">
            <div style="color:red" asp-validation-summary="All"></div>
            <p style="color:red">@ViewBag.error</p>
        </form>
        <div>
    @{
        if (@ViewBag.status=="orderaddfail"){
        foreach(var error in ViewBag.errors)
            {
                if(@error.Errors.Count > 0)
                {
                    <p>@error.Errors[0].ErrorMessage</p>
                }
            }
    
        }
    }

    
<table style="width:75%">
  <tr>
    <th>CustomerName</th>
        <th>Product</th>
            <th>Quantity</th>
    <th> Date</th>
  </tr>  
  @if(@ViewBag.Orderinfos != null){
      @foreach ( var order in @ViewBag.Orderinfos){
    <tr>
    <td>@order.Customerinfo.CustomerName</td>
    <td>@order.ProductInfo.ProductName</td>
    <td>@order.Quantity</td>
    <td>@order.CreatedAt</td>
    </tr>
      }}
